body {
    margin: 0;
    background-color: #0B0B0D;
    background-image: url(./assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

*,
:before,
:after {
    box-sizing: border-box;
}