body {
    font-family: 'Inter', 'sans-serif';
    margin: 0;
    background-color: #0B0B0D;
    background-image: url(./assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

*,
:before,
:after {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
     margin: 0;
}

/* container */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}


/* header */
.header {
    backdrop-filter: blur(150px);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.header__logo {
    color: #fff;
    font-size: 20px;
    width: 125px;
}

.header__logo span {
    font-weight: bold;
}

.header__nav a{
    color: #fff;
    margin: 0 25px;
    font-weight: 200;
    text-decoration: none;
}

.socials__img {
    margin-right: 20px;
}


/* main */
.main {
    margin-top: 215px;
    height: 750px;
}


.title {
    color: #fff;
    font-weight: 300;
    font-size: 80px;
    margin-bottom: 15px;
}

.suptitle {
    color: #fff;
    font-weight: 300;
    font-size: 64px;
    margin-bottom: 35px;
}

.subtitle {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    width: 600px;
    margin-bottom: 70px;
}

.logo__title {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.button {
    display: inline-block;
    padding: 12px 35px;
    margin-left: 50px;
    border-radius: 25px;
    font-size: 15px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}

.button:hover {
    background-color:#efefef;
    color: #1b1c22;
    transition: 0.3s;
}

.nft {
   position: relative;
   left: 900px;
   top: -520px;
   width: 500px;
   z-index: 2;
}

.text__line {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.text__line p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}


/* how do */
.how__do {
    height: 568px;
    margin-bottom: 300px;
}


/* NFT work */

.marketplace__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.musicnftwork {
    margin-top: 150px;
    display: flex;
}

.marketplace__title {
    color: #fff;
    font-weight: 300;
    font-size: 80px;
    margin-bottom: 15px;
    width: 684px;
}

.marketplace__subtitle {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.music__img {
    position: relative;
    left: 750px;
    top: -350px;
}

.marketplace__text {
    position: relative;
    right: -100px;
}

.marketplace__button {
    position: relative;
    right: 50px;
}


/* NFT cards */
.nft__cards {
    width: 600px;
}

.sol__price {
    display: flex;
}

.nft__genre {
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.nft__price {
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
}

.nft__item {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    line-height: .6;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

.nft__item:before {
    content: '';
    position: absolute;
    height: 246px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #fff;
    transform: translate(-25px, 30px);
    z-index: -1;

}

.nft__item.second {
    position: relative;
    top: 50px;
    left: 30px;
    margin-bottom: 25px;
}

.nft__item.third {
    position: relative;
    top: 1px;
    left: 50px;
}

.nft__item.fourth {
    position: relative;
    left: 50px;
    top: 50px;
    margin-top: 25px;
}


/* community */
.community {
    margin-top: 250px;
}

.title__cmmnt {
    color: #fff;
    font-size: 80px;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.cmmnt__card {
    margin-top: 90px;
}

.card__title {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 35px;
}

.card__text {
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    width: 400px;
    line-height: 1.5;
}


/* market */
.market__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nft__market {
    margin-top: 200px;
}

.market__text {
    color: #fff;
    font-size: 80px;
    font-weight: 400;
    width: 500px;
    position: relative;
    top: -75px;
}

.music__genre {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    position: relative;
    right: -130px;
}

.button.market {
    padding: 12px 20px;
    margin-left: 15px;
}


/* market cards */

.card__inner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 250px;
}

.nft__marketcard {
    position: relative;
    display: inline-block;
    line-height: .6;
}

.nft__genrecard {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.nft__cardprice {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}


.nft__tokens {
    color: #fff;
    font-size: 18px;
    margin-left: 120px;
}

.card__items {
    display: inline-block;
    line-height: .6;
    margin-left: 20px;
}

.card__items:before {
    content: '';
    position: absolute;
    padding: 240px 190px;
    border: 1px solid #fff;
    transform: translate(-40px, 20px);
}

.nft__button {
    margin-top: 20px;
    appearance: none;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    font-weight: 200;

    padding: 15px 28px;
    background: none;
    border-radius: 30px;
    margin-right: 15px;
    font-family: inherit;
}

.nft__button.buy {
    font-size: 18px;
    color: #fff;
    font-weight: bold;

}

.nft__button:hover {
    background: #fff;
    color: #1b1c22;
    transition: 0.3s;
  }

.nft__button.buy:hover {
    border: none;
    background: linear-gradient(to left, #BD00FF, #06DBAC);
    color: #fff;
    transition: 0.3s;
}

.nft__items:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #fff;
    transform: translate(25px, 30px);
    z-index: -1;

}


.button.divide {
    display: inline-block;
    position: relative;
    right: 0;
    left: 500px;
    bottom: 160px;
}


/* footer */
.footer__title {
    font-size: 45px;
    color: #fff;
}

.footer__socials {
    margin-top: 45px;
    display: flex;
}

.footer__subtitle {
    text-decoration: none;
    font-size: 30px;
    padding-right: 25px;
    color: #fff;
    margin-right: 25px;
    border-right: 1px solid #fff;
}


.footer__subtitle:last-child {
    border-right: none;
}

.footer__privacy {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.footer__privacy-text, .footer__terms-text {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-right: 25px;
    font-weight: 200;
}

.copyright {
    font-size: 18px;
    color: #fff;
    font-weight: 200;
}

.footer__socials-block {
    display: flex;
    justify-content: space-between;
}

.back {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer__icon {
    width: 25px;
    margin-right: 10px;
}


.footer__button h1 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}